/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/**
    * 	Integration
    * 	------------
    *  This section provides the necessary styling for initialising the custom Biz integration.
    * 
    */

div.biz-notice {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/**
    * 	Stock Synchronisation
    * 	------------
    *  This section provides all the styling related to syncing stock 
    * 	between the WooCommerce store and the items in the connected warehouse.
    * 
    */

.column-biz_sync {
  width: 10ch;
}

.biz_sync-indicator::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background-color: rgb(3, 92, 194);
  border-radius: 20px;
}

.biz_sync-indicator.synced::before {
  background-color: #7ad03a;
}

.biz_sync-indicator.not-synced::before {
  background-color: #a44;
}

.biz_sync-indicator.partial::before {
  background-color: rgb(194, 117, 3);
}

.biz_sync-indicator.disabled::before {
  background-color: gray;
}

.biz_sync-indicator-container {
  margin: 0 0 12px 12px;
}

.biz_sync-indicator-title {
  display: inline-block;
  width: 150px;
  margin-right: 0 !important;
}

.biz_sync-indicator-title,
.biz_sync-variation-indicator-title {
  font-weight: bold;
  margin-right: 7px;
  float: left;
}

button.biz-loading {
  opacity: 1;
  cursor: unset;
}

/**
	 * 	Order Status 
	 * 	------------
	 *  This section provides the necessary styling for displaying
	 * 	Biz Courier shipment status.
	 * 
	 */

.biz-send-shipment.error {
  font-weight: bold;
  color: #a44;
}

ul.biz-send-shipment.error {
  list-style-type: circle;
  padding-left: 20px;
}

#biz-add-shipment-voucher {
  margin-top: 10px;
}

.biz-voucher div {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.biz-shipment-partner .tracking-number {
  font-weight: bold;
  font-size: 18px;
}

ul.biz-shipment-status {
  padding: 10px;
  background-color: rgb(224, 234, 245);
  border-radius: 7px;
  margin: 10px 0;
}

.biz-shipment-status .status-level {
  font-size: 10px;
  opacity: 0.8;
}

.biz-shipment-status .status-description,
.biz-shipment-status .actions .action-description {
  font-weight: bold;
}

.biz-shipment-status .status-description {
  font-size: 18px;
}

.biz-shipment-status .status-comments {
  font-family: monospace;
  font-size: 12px;
}

.biz-shipment-status .actions {
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  margin: 10px 0;
  padding: 10px;
}

.biz-shipment-status .status-date,
.biz-shipment-status .actions .action-date {
  font-size: 12px;
  opacity: 0.8;
}

.biz-shipment-status.error {
  font-weight: bold;
  color: #a44;
}

.biz-shipment-modification button {
  margin: 0 5px 5px 0 !important;
}
