/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/**
    * 	Integration
    * 	------------
    *  This section provides the necessary styling for initialising the custom Biz integration.
    * 
    */

div.biz-notice {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/**
    * 	Stock Synchronisation
    * 	------------
    *  This section provides all the styling related to syncing stock 
    * 	between the WooCommerce store and the items in the connected warehouse.
    * 
    */

.column-biz_sync {
  width: 10ch;
}

.biz_sync-indicator::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background-color: rgb(3, 92, 194);
  border-radius: 20px;
}

.biz_sync-indicator.synced::before {
  background-color: #7ad03a;
}

.biz_sync-indicator.not-synced::before {
  background-color: #a44;
}

.biz_sync-indicator.partial::before {
  background-color: rgb(194, 117, 3);
}

.biz_sync-indicator.disabled::before {
  background-color: gray;
}

.biz_sync-indicator-container {
  margin: 0 0 12px 12px;
}

.biz_sync-indicator-title {
  display: inline-block;
  width: 150px;
  margin-right: 0 !important;
}

.biz_sync-indicator-title,
.biz_sync-variation-indicator-title {
  font-weight: bold;
  margin-right: 7px;
  float: left;
}

button.biz-loading {
  opacity: 1;
  cursor: unset;
}

/**
	 * 	Order Status 
	 * 	------------
	 *  This section provides the necessary styling for displaying
	 * 	Biz Courier shipment status.
	 * 
	 */

ul#wc-biz-courier-logistics-metabox .biz-error {
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ffdada;
}

ul#wc-biz-courier-logistics-metabox .biz-notice {
  font-size: 10px;
  padding: 5px 10px;
  font-weight: normal;
  border-radius: 5px;
  margin: 0 0 10px 0;
  background: #fffdda;
}

ul#wc-biz-courier-logistics-metabox .biz-success {
  font-size: 10px;
  padding: 5px 10px;
  font-weight: normal;
  border-radius: 5px;
  margin: 0 0 10px 0;
  background: #daffdd;
}

ul#wc-biz-courier-logistics-metabox > li {
  margin: 10px 0;
}

#biz-shipment-actions-title {
  margin-bottom: 8px;
}

#biz-cancel-shipment.button {
  border-color: var(--wc-red);
  color: var(--wc-red);
}

#biz-add-shipment-voucher {
  margin-top: 10px;
}

#biz-edit-shipment-voucher,
#biz-delete-shipment-voucher {
  border: none;
  padding: 0;
  background: none;
  text-decoration: underline;
}

#biz-edit-shipment-voucher {
  color: var(--wp-admin-theme-color);
}

#biz-delete-shipment-voucher {
  color: var(--wc-red);
}

#biz-edit-shipment-voucher:hover,
#biz-delete-shipment-voucher:hover {
  cursor: pointer;
}

#biz-edit-shipment-voucher.loading,
#biz-delete-shipment-voucher.loading,
#biz-add-shipment-voucher.loading {
  pointer-events: none;
  border: rgb(240, 240, 240);
  color: rgb(240, 240, 240);
}

.biz-voucher div {
  font-weight: bold;
  font-size: 24px;
  font-family: monospace;
  margin: 5px 0;
}

.biz-shipment-partner .tracking-number {
  font-weight: bold;
  font-size: 18px;
}

#biz-shipment-status-history {
  max-height: 300px;
  overflow-y: auto;
}

ul.biz-shipment-status {
  padding: 10px;
  border-left: 1px solid rgb(3, 92, 194);
  border-bottom: 1px solid rgb(240, 240, 240);
  margin: 0;
}

.biz-shipment-status .status-level,
.biz-shipment-status .actions .title {
  font-size: 8px;
  opacity: 0.8;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.biz-shipment-status .status-description,
.biz-shipment-status .actions .action-description {
  font-weight: bold;
}

.biz-shipment-status .status-description {
  font-size: 14px;
}

.biz-shipment-status .status-description svg {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 6px;
}

.biz-shipment-status.completed .status-description svg path {
  fill: var(--wc-green);
}

.biz-shipment-status.cancelled .status-description svg path {
  fill: var(--wc-orange);
}

.biz-shipment-status.failed .status-description svg path {
  fill: var(--wc-red);
}

.biz-shipment-status .status-comments {
  font-family: monospace;
  font-size: 10px;
}

.biz-shipment-status .actions {
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  margin: 10px 0;
  padding: 10px;
}

.biz-shipment-status .status-date,
.biz-shipment-status .actions .action-date {
  font-size: 12px;
  opacity: 0.8;
}

.biz-shipment-status.error {
  font-weight: bold;
  color: #a44;
}

.biz-shipment-modification button {
  margin: 0 5px 5px 0 !important;
}
