/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.woobiz-stock-sync-meta-box.error {
  color: darkred;
}

.column-biz_sync {
  width: 10ch;
}

.column-biz_sync .biz_sync-indicator {
  height: 10px;
  width: 10px;
  background-color: gray;
  border-radius: 20px;
}

.column-biz_sync .biz_sync-indicator .synced {
  background-color: green;
}

.column-biz_sync .biz_sync-indicator .error {
  background-color: red;
}
